.docItemContainer {
  max-width: 950px;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 6px 0;
}

.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docItemContainer article {
  padding: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 980px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
